In [2]:
# Import all the necessary packages

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import plotly.express as px
import plotly.figure_factory as ff

from scipy.stats import chi2_contingency
from scipy.stats.contingency import association
import scipy.stats as stats
from sklearn import preprocessing 

from sklearn.linear_model import LogisticRegression
from sklearn import metrics

from sklearn.model_selection import train_test_split 
import matplotlib.pyplot as plt

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from matplotlib.dates import DateFormatter
import matplotlib.cm as cm

In [7]:
#import csv
df1 = pd.read_csv('/Users/hartnell/Desktop/hki_parking_spaces_eng.csv')
df2 = pd.read_csv('/Users/hartnell/Desktop/kln_parking_spaces_eng.csv')
df3 = pd.read_csv('/Users/hartnell/Desktop/nt_parking_spaces_eng.csv')

df = pd.concat([df, df2, df3])
display(df)
df.to_csv('Parking_spaces_sum.csv', index = False)

,District,Location,Types of Operating Hours,"For Vehicles Other Than Medium and Heavy Goods Vehicles, Buses, Motor Cycles and Pedal Cycles",For Goods Vehicles,For Coaches
0,SOUTHERN,AP LEI CHAU PRAYA ROAD,H,37,8,8
1,SOUTHERN,BEACH ROAD (REPULSE BAY BEACH ROAD),D,19,0,3
2,SOUTHERN,BEACH ROAD CAR PARK,D,26,0,0
3,SOUTHERN,BIG WAVE BAY ROAD,H,42,0,0
4,SOUTHERN,BIG WAVE BAY ROAD CAR PARK,H,50,2,3
...,...,...,...,...,...,...
360,ISLAND,NGONG PING PTI CAR PARK,H,21,0,17
361,ISLAND,PA MEI ROAD CAR PARK 1,H,36,0,0
362,ISLAND,PA MEI ROAD CAR PARK 2,H,46,0,0
363,ISLAND,TAT TUNG ROAD,H,5,0,2
364,ISLAND,TUNG CHUNG WATERFRONT ROAD,H,0,0,4

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 954 entries, 0 to 364
Data columns (total 6 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   District                                                                                        954 non-null    object
 1   Location                                                                                        954 non-null    object
 2   Types of Operating Hours                                                                        954 non-null    object
 3   For Vehicles Other Than Medium and Heavy Goods Vehicles, Buses, Motor Cycles and Pedal Cycles   954 non-null    int64
 4   For Goods Vehicles                                                                              954 non-null    int64
 5   For Coaches                                                                                     954 non-null    int64
dtypes: int64(3), object(3)
memory usage: 52.2+ KB

In [9]:
df.describe()

,"For Vehicles Other Than Medium and Heavy Goods Vehicles, Buses, Motor Cycles and Pedal Cycles",For Goods Vehicles,For Coaches
count,954.000000,954.000000,954.000000
mean,15.946541,2.202306,0.665618
std,18.912797,6.045469,2.712207
min,0.000000,0.000000,0.000000
25%,4.000000,0.000000,0.000000
50%,10.000000,0.000000,0.000000
75%,21.000000,1.000000,0.000000
max,159.000000,60.000000,33.000000

In [10]:
df.isnull().sum()

District                                                                                          0
Location                                                                                          0
Types of Operating Hours                                                                          0
For Vehicles Other Than Medium and Heavy Goods Vehicles, Buses, Motor Cycles and Pedal Cycles     0
For Goods Vehicles                                                                                0
For Coaches                                                                                       0
dtype: int64