In [13]:
# Import all the necessary packages

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import plotly.express as px
import plotly.figure_factory as ff

from scipy.stats import chi2_contingency
from scipy.stats.contingency import association
import scipy.stats as stats
from sklearn import preprocessing 

from sklearn.linear_model import LogisticRegression
from sklearn import metrics

from sklearn.model_selection import train_test_split 
import matplotlib.pyplot as plt

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from matplotlib.dates import DateFormatter
import matplotlib.cm as cm

In [19]:
#import csv
df = pd.read_csv('/Users/hartnell/Documents/GitHub/Project-1/Crime_Data_from_2020_to_Present.csv')
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,200412582,09/09/2020 12:00:00 AM,09/09/2020 12:00:00 AM,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004842,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284
1004843,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
1004844,240410786,10/14/2024 12:00:00 AM,10/11/2024 12:00:00 AM,2330,4,Hollenbeck,421,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,NaN,NaN,NaN,1700 ALBION ST,NaN,34.0675,-118.2240
1004845,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
1004846,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004847 entries, 0 to 1004846
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004847 non-null  int64
 1   Date Rptd       1004847 non-null  object
 2   DATE OCC        1004847 non-null  object
 3   TIME OCC        1004847 non-null  int64
 4   AREA            1004847 non-null  int64
 5   AREA NAME       1004847 non-null  object
 6   Rpt Dist No     1004847 non-null  int64
 7   Part 1-2        1004847 non-null  int64
 8   Crm Cd          1004847 non-null  int64
 9   Crm Cd Desc     1004847 non-null  object
 10  Mocodes         853256 non-null   object
 11  Vict Age        1004847 non-null  int64
 12  Vict Sex        860243 non-null   object
 13  Vict Descent    860231 non-null   object
 14  Premis Cd       1004831 non-null  float64
 15  Premis Desc     1004259 non-null  object
 16  Weapon Used Cd  327193 non-null   float64
 17  Weapon Desc     327193 non-null   object
 18  Status          1004846 non-null  object
 19  Status Desc     1004847 non-null  object
 20  Crm Cd 1        1004836 non-null  float64
 21  Crm Cd 2        69130 non-null    float64
 22  Crm Cd 3        2315 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1004847 non-null  object
 25  Cross Street    154221 non-null   object
 26  LAT             1004847 non-null  float64
 27  LON             1004847 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

In [21]:
df.describe()

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,1.004847e+06,1.004847e+06,1.004847e+06,1.004847e+06,1.004847e+06,1.004847e+06,1.004847e+06,1.004831e+06,327193.000000,1.004836e+06,69130.000000,2315.000000,64.00000,1.004847e+06,1.004847e+06
mean,2.202171e+08,1.339911e+03,1.069147e+01,1.115607e+03,1.400307e+00,5.001353e+02,2.891905e+01,3.056073e+02,363.944543,4.998958e+02,958.115941,984.022030,991.21875,3.399820e+01,-1.180908e+02
std,1.318835e+07,6.510691e+02,6.110286e+00,6.111622e+02,4.899607e-01,2.052622e+02,2.199224e+01,2.192915e+02,123.741225,2.050627e+02,110.359911,52.340476,27.06985,1.610827e+00,5.582785e+00
min,8.170000e+02,1.000000e+00,1.000000e+00,1.010000e+02,1.000000e+00,1.100000e+02,-4.000000e+00,1.010000e+02,101.000000,1.100000e+02,210.000000,310.000000,821.00000,0.000000e+00,-1.186676e+02
25%,2.106168e+08,9.000000e+02,5.000000e+00,5.870000e+02,1.000000e+00,3.310000e+02,0.000000e+00,1.010000e+02,311.000000,3.310000e+02,998.000000,998.000000,998.00000,3.401470e+01,-1.184305e+02
50%,2.209158e+08,1.420000e+03,1.100000e+01,1.139000e+03,1.000000e+00,4.420000e+02,3.000000e+01,2.030000e+02,400.000000,4.420000e+02,998.000000,998.000000,998.00000,3.405890e+01,-1.183225e+02
75%,2.311101e+08,1.900000e+03,1.600000e+01,1.613000e+03,2.000000e+00,6.260000e+02,4.400000e+01,5.010000e+02,400.000000,6.260000e+02,998.000000,998.000000,998.00000,3.416490e+01,-1.182739e+02
max,2.521040e+08,2.359000e+03,2.100000e+01,2.199000e+03,2.000000e+00,9.560000e+02,1.200000e+02,9.760000e+02,516.000000,9.560000e+02,999.000000,999.000000,999.00000,3.433430e+01,0.000000e+00

In [22]:
df.isnull().sum()

DR_NO                   0
Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA                    0
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            151591
Vict Age                0
Vict Sex           144604
Vict Descent       144616
Premis Cd              16
Premis Desc           588
Weapon Used Cd     677654
Weapon Desc        677654
Status                  1
Status Desc             0
Crm Cd 1               11
Crm Cd 2           935717
Crm Cd 3          1002532
Crm Cd 4          1004783
LOCATION                0
Cross Street       850626
LAT                     0
LON                     0
dtype: int64

In [23]:
df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [ ]:

df_dropped = df.drop([ "DR_NO", "Mocodes", "Status", "Status Desc", "Crm Cd 1", "Crm Cd 2", "Crm Cd 3", "Crm Cd 4", "LOCATION", "Cross Street", "LAT", "LON"], axis=1)

                      Date Rptd                DATE OCC  TIME OCC  AREA  \
0        03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1        02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2        11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3        05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4        09/09/2020 12:00:00 AM  09/09/2020 12:00:00 AM       630     4
...                         ...                     ...       ...   ...
1004842  07/24/2024 12:00:00 AM  07/23/2024 12:00:00 AM      1400     7
1004843  01/15/2024 12:00:00 AM  01/15/2024 12:00:00 AM       100     1
1004844  10/14/2024 12:00:00 AM  10/11/2024 12:00:00 AM      2330     4
1004845  04/24/2024 12:00:00 AM  04/24/2024 12:00:00 AM      1500     3
1004846  08/13/2024 12:00:00 AM  08/12/2024 12:00:00 AM      2300     9

          AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0          Wilshire          784         1     510
1           Central          182         1     330
2         Southwest          356         1     480
3          Van Nuys          964         1     343
4        Hollenbeck          413         1     510
...             ...          ...       ...     ...
1004842    Wilshire          788         1     510
1004843     Central          101         2     745
1004844  Hollenbeck          421         1     341
1004845   Southwest          358         1     230
1004846    Van Nuys          914         1     510

                                               Crm Cd Desc  Vict Age Vict Sex  \
0                                         VEHICLE - STOLEN         0        M
1                                    BURGLARY FROM VEHICLE        47        M
2                                            BIKE - STOLEN        19        X
3                 SHOPLIFTING-GRAND THEFT ($950.01 & OVER)        19        M
4                                         VEHICLE - STOLEN         0      NaN
...                                                    ...       ...      ...
1004842                                   VEHICLE - STOLEN         0      NaN
1004843           VANDALISM - MISDEAMEANOR ($399 OR UNDER)         0        X
1004844  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...        29        M
1004845     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT        70        F
1004846                                   VEHICLE - STOLEN         0      NaN

        Vict Descent  Premis Cd                                   Premis Desc  \
0                  O      101.0                                        STREET
1                  O      128.0             BUS STOP/LAYOVER (ALSO QUERY 124)
2                  X      502.0  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)
3                  O      405.0                                CLOTHING STORE
4                NaN      101.0                                        STREET
...              ...        ...                                           ...
1004842          NaN      101.0                                        STREET
1004843            X      503.0                                         HOTEL
1004844            B      210.0                          RESTAURANT/FAST FOOD
1004845            W      102.0                                      SIDEWALK
1004846          NaN      108.0                                   PARKING LOT

         Weapon Used Cd                  Weapon Desc
0                   NaN                          NaN
1                   NaN                          NaN
2                   NaN                          NaN
3                   NaN                          NaN
4                   NaN                          NaN
...                 ...                          ...
1004842             NaN                          NaN
1004843           500.0  UNKNOWN WEAPON/OTHER WEAPON
1004844             NaN                          NaN
1004845           308.0                        STICK
1004846             NaN                          NaN

[1004847 rows x 16 columns]

In [42]:
df_dropped

,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc
0,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,0,M,O,101.0,STREET,NaN,NaN
1,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,47,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN
2,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,19,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN
3,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,O,405.0,CLOTHING STORE,NaN,NaN
4,09/09/2020 12:00:00 AM,09/09/2020 12:00:00 AM,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,0,NaN,NaN,101.0,STREET,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004842,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,0,NaN,NaN,101.0,STREET,NaN,NaN
1004843,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,X,503.0,HOTEL,500.0,UNKNOWN WEAPON/OTHER WEAPON
1004844,10/14/2024 12:00:00 AM,10/11/2024 12:00:00 AM,2330,4,Hollenbeck,421,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",29,M,B,210.0,RESTAURANT/FAST FOOD,NaN,NaN
1004845,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",70,F,W,102.0,SIDEWALK,308.0,STICK
1004846,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN

In [38]:
df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004847 entries, 0 to 1004846
Data columns (total 16 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Date Rptd       1004847 non-null  object
 1   DATE OCC        1004847 non-null  object
 2   TIME OCC        1004847 non-null  int64
 3   AREA            1004847 non-null  int64
 4   AREA NAME       1004847 non-null  object
 5   Rpt Dist No     1004847 non-null  int64
 6   Part 1-2        1004847 non-null  int64
 7   Crm Cd          1004847 non-null  int64
 8   Crm Cd Desc     1004847 non-null  object
 9   Vict Age        1004847 non-null  int64
 10  Vict Sex        860243 non-null   object
 11  Vict Descent    860231 non-null   object
 12  Premis Cd       1004831 non-null  float64
 13  Premis Desc     1004259 non-null  object
 14  Weapon Used Cd  327193 non-null   float64
 15  Weapon Desc     327193 non-null   object
dtypes: float64(2), int64(6), object(8)
memory usage: 122.7+ MB

In [37]:
df_dropped.isnull().sum()

Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Vict Age               0
Vict Sex          144604
Vict Descent      144616
Premis Cd             16
Premis Desc          588
Weapon Used Cd    677654
Weapon Desc       677654
dtype: int64

In [ ]:
df_dropped.columns = df_dropped.columns.str.strip()

df_dropped['Date Rptd'] = pd.to_datetime(df_dropped['Date Rptd'], format='%m/%d/%Y %I:%M:%S %p')

df_dropped['Year'] = df_dropped['Date Rptd'].dt.year

df_dropped

         Date Rptd                DATE OCC  TIME OCC  AREA   AREA NAME  \
0       2020-03-01  03/01/2020 12:00:00 AM      2130     7    Wilshire
1       2020-02-09  02/08/2020 12:00:00 AM      1800     1     Central
2       2020-11-11  11/04/2020 12:00:00 AM      1700     3   Southwest
3       2023-05-10  03/10/2020 12:00:00 AM      2037     9    Van Nuys
4       2020-09-09  09/09/2020 12:00:00 AM       630     4  Hollenbeck
...            ...                     ...       ...   ...         ...
1004842 2024-07-24  07/23/2024 12:00:00 AM      1400     7    Wilshire
1004843 2024-01-15  01/15/2024 12:00:00 AM       100     1     Central
1004844 2024-10-14  10/11/2024 12:00:00 AM      2330     4  Hollenbeck
1004845 2024-04-24  04/24/2024 12:00:00 AM      1500     3   Southwest
1004846 2024-08-13  08/12/2024 12:00:00 AM      2300     9    Van Nuys

         Rpt Dist No  Part 1-2  Crm Cd  \
0                784         1     510
1                182         1     330
2                356         1     480
3                964         1     343
4                413         1     510
...              ...       ...     ...
1004842          788         1     510
1004843          101         2     745
1004844          421         1     341
1004845          358         1     230
1004846          914         1     510

                                               Crm Cd Desc  Vict Age Vict Sex  \
0                                         VEHICLE - STOLEN         0        M
1                                    BURGLARY FROM VEHICLE        47        M
2                                            BIKE - STOLEN        19        X
3                 SHOPLIFTING-GRAND THEFT ($950.01 & OVER)        19        M
4                                         VEHICLE - STOLEN         0      NaN
...                                                    ...       ...      ...
1004842                                   VEHICLE - STOLEN         0      NaN
1004843           VANDALISM - MISDEAMEANOR ($399 OR UNDER)         0        X
1004844  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...        29        M
1004845     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT        70        F
1004846                                   VEHICLE - STOLEN         0      NaN

        Vict Descent  Premis Cd                                   Premis Desc  \
0                  O      101.0                                        STREET
1                  O      128.0             BUS STOP/LAYOVER (ALSO QUERY 124)
2                  X      502.0  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)
3                  O      405.0                                CLOTHING STORE
4                NaN      101.0                                        STREET
...              ...        ...                                           ...
1004842          NaN      101.0                                        STREET
1004843            X      503.0                                         HOTEL
1004844            B      210.0                          RESTAURANT/FAST FOOD
1004845            W      102.0                                      SIDEWALK
1004846          NaN      108.0                                   PARKING LOT

         Weapon Used Cd                  Weapon Desc  Year
0                   NaN                          NaN  2020
1                   NaN                          NaN  2020
2                   NaN                          NaN  2020
3                   NaN                          NaN  2023
4                   NaN                          NaN  2020
...                 ...                          ...   ...
1004842             NaN                          NaN  2024
1004843           500.0  UNKNOWN WEAPON/OTHER WEAPON  2024
1004844             NaN                          NaN  2024
1004845           308.0                        STICK  2024
1004846             NaN                          NaN  2024

[1004847 rows x 17 columns]

In [45]:
df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004847 entries, 0 to 1004846
Data columns (total 17 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Date Rptd       1004847 non-null  datetime64[ns]
 1   DATE OCC        1004847 non-null  object
 2   TIME OCC        1004847 non-null  int64
 3   AREA            1004847 non-null  int64
 4   AREA NAME       1004847 non-null  object
 5   Rpt Dist No     1004847 non-null  int64
 6   Part 1-2        1004847 non-null  int64
 7   Crm Cd          1004847 non-null  int64
 8   Crm Cd Desc     1004847 non-null  object
 9   Vict Age        1004847 non-null  int64
 10  Vict Sex        860243 non-null   object
 11  Vict Descent    860231 non-null   object
 12  Premis Cd       1004831 non-null  float64
 13  Premis Desc     1004259 non-null  object
 14  Weapon Used Cd  327193 non-null   float64
 15  Weapon Desc     327193 non-null   object
 16  Year            1004847 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(6), object(7)
memory usage: 126.5+ MB

In [47]:
df_dropped.sort_values(by =['Date Rptd'], ascending = True)

,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Year
184236,2020-01-01,01/01/2020 12:00:00 AM,945,16,Foothill,1653,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,27,F,H,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",2020
89267,2020-01-01,01/01/2020 12:00:00 AM,355,6,Hollywood,678,2,624,BATTERY - SIMPLE ASSAULT,35,M,O,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",2020
67513,2020-01-01,01/01/2020 12:00:00 AM,800,11,Northeast,1149,1,510,VEHICLE - STOLEN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,2020
40383,2020-01-01,01/01/2020 12:00:00 AM,540,2,Rampart,216,2,888,TRESPASSING,0,X,X,401.0,MINI-MART,NaN,NaN,2020
96265,2020-01-01,01/01/2020 12:00:00 AM,230,1,Central,143,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,25,M,W,101.0,STREET,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966784,2025-01-15,12/13/2024 12:00:00 AM,214,14,Pacific,1414,2,956,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",33,F,B,710.0,OTHER PREMISE,NaN,NaN,2025
900129,2025-01-15,12/22/2024 12:00:00 AM,220,14,Pacific,1406,1,480,BIKE - STOLEN,40,M,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,2025
932667,2025-01-15,12/10/2024 12:00:00 AM,1750,14,Pacific,1472,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",35,M,W,101.0,STREET,NaN,NaN,2025
910231,2025-01-17,12/23/2024 12:00:00 AM,130,19,Mission,1991,1,330,BURGLARY FROM VEHICLE,70,F,W,707.0,GARAGE/CARPORT,NaN,NaN,2025
883802,2025-01-17,12/18/2024 12:00:00 AM,1230,10,West Valley,1037,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",59,M,H,101.0,STREET,NaN,NaN,2025